#resume{
    
    position: relative;
    text-align: center;
    
    overflow: hidden;
    
}
.lang{
    margin-top:40px;
}
li{
    align-items: center;
    display:flex;
    flex-direction:row;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 40px ;
}
.title::after{
    content: "";
display: block;
position: relative;

width: 100%;
height: 1px;
margin-left: 20px;
background-color: var(--color-light);
}
.title::before{
    content: "";
display: block;
position: relative;

width: 20px;
height: 1px;
margin-right:20px;
background-color: var(--color-light);
}
#container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 15rem;
    text-align: left;
    
    overflow: hidden;
    position: relative;
    left:3rem;
 
    
}
#about{
    

    
    
    
    
}
#skills{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    

}
#frontendbackend{
    display: flex;
    gap: 8px;
    flex-direction: row;
}


.card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 30%;
    height: 10rem;
    line-height: 1.66rem;
}

.card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.box{

   
   
   
    text-align: center;
}
@media screen and (max-width: 1024px) {
    #container{
        grid-template-columns: 1fr;
        gap: 0;
        left:1rem;
    }
    #about{
       
    width: 80vw;
        

    }
    .box{
        width: 100vw;
    }
    .card{
        width:11rem;
    }
    #skills{
        margin-top:20px;
    }

 }
 /* small screens */
 @media screen and (max-width: 600px) {
     #skills{
         margin-left: 1px;
         right: 5px;
     }
     
  #container{
      left: 20px;
  }
  .card{
      background: transparent;

  }
  #frontendbackend
  { 
      gap: 0;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    width:calc(100vw - 2rem)
    
  }
#misc{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    bottom:10px;
}

#frontendbackend:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

#misc:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.card:hover{
    
    border: transparent;
   
}

 }